@import url("https://fonts.googleapis.com/css?family=Sigmar+One&display=swap");
body {
  height: 100vh; }

.main_div {
  height: 100vh;
  position: relative; }

#overlay {
  position: absolute;
  z-index: 3;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  opacity: 0; }

#overlay.show {
  display: block;
  opacity: 1;
  cursor: pointer; }

#view_sec {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh; }

#sky_div {
  flex-grow: 1;
  background-color: #99e1dc;
  overflow: hidden;
  position: relative; }

.sun {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFFF00;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  cursor: pointer; }

.moon {
  position: absolute;
  bottom: -45px;
  left: 0px;
  width: 110px;
  height: 110px;
  box-shadow: 15px 15px 0 0 #000429;
  transform: rotate(45deg);
  border-radius: 50%; }

.sun_moon_orbit {
  width: 70%;
  height: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto; }

.orbit_animate_day {
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: orbit_day;
  -webkit-animation-duration: 2s;
  animation-fill-mode: forwards; }

.orbit_animate_night {
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: orbit_night;
  -webkit-animation-duration: 2s;
  animation-fill-mode: forwards; }

@-webkit-keyframes orbit_day {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(40deg); } }
@-webkit-keyframes orbit_night {
  from {
    -webkit-transform: rotate(40deg); }
  to {
    -webkit-transform: rotate(0deg); } }
#grass_div {
  background-color: #145102;
  height: 35%; }

#home_sec {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
  left: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0; }

.hause_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-bottom: 5%; }

.ceil_div {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 160px solid #DD7E6B; }

.wall_div {
  width: 400px;
  height: 265px;
  background-color: #CCCCCC;
  position: relative; }

.board_div {
  position: absolute;
  height: 50px;
  top: -25px;
  border: 2px solid #6AA84F;
  width: 230px;
  left: 0;
  right: 0;
  margin: auto;
  background: #93C47D;
  color: #274E13;
  font-family: "Sigmar One";
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  line-height: 50px; }

.window_left {
  background-color: #CFE2F3;
  border: 2px solid #9FC5E8;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 40px;
  position: absolute;
  left: 40px; }

.window_left:hover {
  cursor: url("images/cookie.png"), auto; }

.window_right {
  background-color: #CFE2F3;
  border: 2px solid #9FC5E8;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 40px;
  position: absolute;
  right: 40px; }

.window_right:hover {
  cursor: url("images/cookie.png"), auto; }

.door {
  position: absolute;
  width: 100px;
  height: 180px;
  background-color: #F6B26B;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-content: center;
  align-items: center; }

.door_handle {
  width: 20px;
  height: 4px;
  background-color: #B45F06;
  margin-left: 10px; }

.mailbox {
  position: absolute;
  width: 90px;
  height: 60px;
  background-color: #999999;
  right: 40px;
  top: 150px;
  color: #666666;
  text-align: center;
  font-family: Verdana, "sans-serif";
  font-size: 14px; }

.mailbox_falling {
  animation-name: falling;
  animation-duration: .6s;
  animation-fill-mode: forwards; }

@keyframes falling {
  0% {
    top: 150px;
    transform: rotate(0deg); }
  30% {
    top: 155px;
    right: 42px;
    transform: rotate(0deg); }
  40% {
    top: 155px;
    right: 44px;
    transform: rotate(0deg); }
  55% {
    top: 205px;
    right: 46px;
    transform: rotate(0deg); }
  75% {
    top: 190px;
    right: 49px; }
  90% {
    top: 190px;
    right: 52px;
    transform: rotate(8deg); }
  100% {
    top: 195px;
    right: 54px;
    transform: rotate(15deg); } }
.mailbox_slot {
  width: 70px;
  height: 10px;
  background-color: #666666;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px; }

/** modal ************************************/
.my-modal-title {
  font-family: Verdana, "sans-serif";
  font-size: 18px;
  font-weight: bold;
  color: #DD7E6B; }

.my-modal-body {
  font-family: Verdana, "sans-serif";
  font-size: 14px; }

.my-modal-body-success {
  color: #274E13; }

.my-modal-body-error {
  color: #DD7E6B; }

/*********************************************/

/*# sourceMappingURL=main.css.map */
